.maincard {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 300px;
  background-color: rgb(163, 163, 163);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.maininput {
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
}
.btn {
  padding: 10px;
  width: 300px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 15px;
}

.maintask {
  display: flex;
  flex-wrap: wrap;
}
.cards {
  width: 350px;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  background-color: grey;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-inline: 20px;
  margin-block: 40px;
}
.btnNew {
  padding: 5px;
  width: 70px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 10px;
}
